
/*======== 
NAVBAR
========  */

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.6rem;
  letter-spacing: 3px;
  font-weight: 700;

  &__notes {
    color: var(--orange);
  }

  &__list {
    color: var(--blue);
  }
}

.navbar__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__button {
  padding: .6rem 2rem;
  border-radius: 10px;
}