*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #212529;
  --off-white: hsl(75deg, 6%, 87%);
  --orange: hsl(42deg, 93%, 64%);
  --blue: hsl(162deg, 43%, 46%);
  --font-main: 'Lato', sans-serif;
}

button {
    font-family: inherit;
    border: none;
    font-size: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--off-white);
  font-family: var(--font-main);
  min-height: 100vh;
}