*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #16191d;
  --off-white: hsl(75deg, 6%, 87%);
  --orange: hsl(42deg, 93%, 64%);
  --blue: #0066FF;
  --font-main: 'Lato', sans-serif;
  --navbar-height: 10vh;
}

button {
    font-family: inherit;
    border: none;
    font-size: inherit;
}

body {
  background-color: var(--black);
  color: var(--off-white);
  font-family: var(--font-main);
  min-height: 100vh;
  position: relative;
  background-image: url('./assets/wave-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}